body {
	margin: 0;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	color: #008000;
	text-shadow: 2px 2px #008000;
	margin: 10px;
}

p {
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	color: #008000;
	text-shadow: 2px 2px #ff0000;
	margin: 10px;
}

#container {
        margin: auto;
        width: 680px;
        height: 680px;
        /*border: 1px solid #000;*/
        position: relative;
        overflow: auto;
      }

.box {
      width: 200px;
      height: 200px;
      padding:10px;
      border: 1px solid black;
      /*color: #fff;*/
      position: relative;
 }
      
.avo {
	display: none;
	cursor: pointer;
}
 #one {
 	background-image: url('/img/lemon.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 10px;*/
 }

 #two {
 	background-image: url('/img/pico.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 } 

 #three {
 	background-image: url('/img/lemon.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

 #four {
	background-image: url('/img/pico.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
}

 #five {
 	background-image: url('/img/lemon.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

 #six {
 	background-image: url('/img/pico.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

#seven {
 	background-image: url('/img/lemon.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

#eight {
 	background-image: url('/img/pico.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

 #nine {
 	background-image: url('/img/lemon.jpg');
 	float: left;
 	/*margin: 0px 0px 0px 50px;*/
 }

input[type=button]
{
    background-color: #008000;
    color: #008000;
    height: 30px;
    width: 100px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
    margin: 10px;
    border: 10px;
    padding: 3px;
}

.guac {
	background-image: url('/img/guac.jpg');
	z-index: 1;
}